h1 {
  color:#FFFFFF;
  text-align: "center";
  font-family: "Courier";
}
body {
  color:#FFFFFF;
  text-align: "center";
  font-family: "Courier";
}
footer  {
  color: #000000;
  text-align: "center";
}
